@import '../../Styles/sass/mixins';
@import '../../Styles/sass/variables';

.Input {
    width: 100%;
    background-color: $grey;
    padding: 0.7rem 1.5rem;
    font-family: $secondary_font;
    font-size: 1.6rem;
    border: none;
    border-radius: 0.5rem;
    color: $placeholder;

    &--Red {
        border: 2px solid $red;
        color: $red;
    }

    &:focus {
        outline: none;
    }

    &::placeholder {
        font-family: $secondary_font;
        font-size: 1.6rem;
        color: $placeholder;
        opacity: 0.5;
    }
}

.InputWrapper {
    @include flex(center, center, row);
    position: relative;
    width: 100%;
    margin-bottom: 1.7rem;

    &--Flag {
        @include flex(center, space-around, row);
        left: 5px;
        position: absolute;
        color: $placeholder;
        pointer-events: none;
        border-right: 1px solid $placeholder;
        padding: 0 0.6rem;
        font-size: 1.6rem;

        &Img {
            height: 3vh;
            margin-right: 0.5rem;
        }
    }
}

@include media-xxl {
    .Input {
        font-size: 1.4rem;

        &::placeholder {
            font-size: 1.4rem;
        }
    }

    .InputWrapper {
    
        &--Flag {
            font-size: 1.4rem;
        }
    }
}

@include media-xl {
    .Input {
        font-size: 1.3rem;

        &::placeholder {
            font-size: 1.3rem;
        }
    }

    .InputWrapper {    
        &--Flag {
            font-size: 1.3rem;
        }
    }
}

@include media-l {
    .Input {
        font-size: 1rem;
        padding: 0.6rem 1rem;

        &::placeholder {
            font-size: 1rem;
        }
    }

    .InputWrapper {    
        &--Flag {
            font-size: 1rem;
        }
    }
}

@include media-ml {
    .Input {
        font-size: 1.4rem;
        padding: 0.9rem 1.5rem;

        &::placeholder {
            font-size: 1.4rem;
        }
    }
}

@include media-sl {
    .Input {
        font-size: 1.2rem;
        padding: 0.7rem 1.3rem;

        &::placeholder {
            font-size: 1.2rem;
        }
    }

    .InputWrapper {
    
        &--Flag {
            font-size: 1.2rem;

            &Img {
                height: 2vh;
            }
        }
    }
}