@import '../../Styles/sass/mixins';
@import '../../Styles/sass/variables';


.Otp {
    @include flex(center, center, row);
    width: 40px;
    background-color: $grey;
    padding-left: 0.4rem;
    font-family: $main_font;
    font-size: 1.6rem;
    border: none;
    color: #000;
    margin: 0 0.5rem;
    border-bottom: 2px solid $placeholder;

    &--Red {
        color: $red;
        border-bottom: 2px solid $red;
    }
    
    &:focus {
        outline: none;
    }
}

@include media-xxl {
    .Otp {
        font-size: 1.4rem;
    }
}

@include media-xl {
    .Otp {
        font-size: 1.3rem;
    }
}

@include media-l {
    .Otp {
        width: 20px;
        font-size: 1rem;
    }
}

@include media-sl {          
    .Otp {
        font-size: 1.5rem;
    }
}