/* CreateProject.scss */

.body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;
}

.center-container {
  text-align: center; /* Center text within the container */
  width: 600px; /* Set your desired width */
  margin-left: 400px;
  background-color: #e7e7ec;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-right: 10px;
  width: 150px; /* Set the width you prefer for labels */
}

input[type="text"],
select {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.checkbox-section {
  text-align: left; /* Align checkbox labels to the left */
  margin-top: 20px; /* Add some space between the project details and checkboxes */
}

.checkbox-section label {
  display: block;
  margin-bottom: 5px;
}

.checkbox-section input[type="checkbox"] {
  margin-right: 5px; /* Add a small space between the checkbox and label */
}

.checkbox-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add space between checkbox items */
}

.checkbox-item label {
  margin-left: 5px; /* Add space between checkbox and label */
}
