@import '../../Styles/sass/mixins';
@import '../../Styles/sass/variables';
@import '../../Styles/sass/animations';

.Navbar {
    @include flex(center, center, row);
    width: 100%;
    height: 10vh;
    color: $dark;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: $bgcolor;
    box-shadow: 0px 3px 39px #0000000D;
    font-family: $secondary_font;

    &--Logo {
        position: absolute;
        left: 5rem;

        &Link {
            height: 8vh;
        }
    }

    &--Backdrop {
        height: 100vh;
        width: 100vw;
        cursor: pointer;
        z-index: 4;
        position: fixed;
        top: 0;
        left: 0;
    }

    &--Mobile {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 5;
        box-shadow: 0px 3px 27px #00000029;
        background-color: $light;

        &Expanded {
            @include animate(0.7s, ease-out, 0s, 1, normal, forwards, running, navbarexpand);
        }

        &Shrinked {
            @include animate(0.7s, ease-out, 0s, 1, normal, forwards, running, navbarshrink);
        }

        &Content {
            @include flex(flex-start, space-around, column);
            padding: 3rem 2rem;
            width: 100%;

            &Row {
                @include flex(center, space-between, row);
                width: 100%;

                &Link {
                    font-weight: 400;
                    font-size: 1.5rem;
                    color: $orange;
                    text-decoration: underline;
                }
            }

            &Links {
                @include flex(flex-start, space-around, column);
                width: 100%;
                margin-top: 6rem;
            }
        }

        &Cross {
            cursor: pointer;
            height: 1.5rem;
        }

        &Link {
            @include flex(center, flex-start, row);
            width: 100%;
            padding-bottom: 2rem;
            border-bottom: 1px solid #E8E8E8;
            color: $moblink;
            font-size: 1.6rem;
            margin-bottom: 2rem;
            cursor: pointer;
            font-weight: 300;

            &Img {
                height: 3vh;
                margin-right: 1.6rem;
            }
        }

        &Active {
            color: $orange;
            font-weight: 500;
        }
    }

    &--Desktop {
        @include flex(center, space-around, row);

        &Link {
            padding: 0 2rem;
            font-size: 1.6rem;
            color: $navlink;
            font-weight: 300;

            &:hover {
                color: $orange;
                // font-weight: 500;
            }
        }

        &Active {
            color: $orange;
            font-weight: 500;
        }
    }

    &--Action {
        @include flex(center, space-around, column);
        position: absolute;
        right: 5rem;
        cursor: pointer;

        &Line {
            width: 30px;
            margin-bottom: 0.5rem;
            color: $dark;
        }

        &Link {
            font-weight: 400;
            font-size: 1.5rem;
            color: $orange;
            text-decoration: underline;
        }
    }
}

@include media-xxl {
    .Navbar {
        &--Desktop {
            &Link {
                font-size: 1.45rem;
            }
        }

        &--Action {
            &Link {
                font-size: 1.4rem;
            }
        }
    }
}

@include media-xl {
    .Navbar {
        &--Desktop {
            &Link {
                font-size: 1.3rem;
            }
        }

        &--Action {
            &Link {
                font-size: 1.2rem;
            }
        }
    }
}

@include media-l {
    .Navbar {
        &--Desktop {
            &Link {
                font-size: 1.2rem;
            }
        }

        &--Action {
            &Link {
                font-size: 1.1rem;
            }
        }
    }
}

@include media-ml {
    .Navbar {
        &--Logo {
            left: 2rem;
            
            &Link {
                height: 6vh;
            }
        }

        &--Desktop {
            &Link {
                font-size: 1.7rem;
            }
        }

        &--Action {
            right: 2rem;

            &Link {
                font-size: 1.55rem;
            }
        }
    }
}