/* Landing.scss */
.button {
  background-color: rgba(
    36,
    36,
    114,
    0.47
  ); /* Change to your desired background color */
  color: white; /* Change to your desired text color */
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 5px; /* Add rounded corners if desired */
  cursor: pointer; /* Add a pointer cursor on hover */
  font-size: 16px; /* Adjust font size */
  font-weight: bold; /* Adjust font weight */
  text-decoration: none; /* Remove underlines for links */
  display: inline-block; /* Make the button an inline block */
  text-align: center; /* Center the button text horizontally */
  width: 150px; /* Set a fixed width for the button */
  margin: 10px; /* Add margin around the button */
  transition: background-color 0.3s ease, color 0.3s ease; /* Add a smooth transition effect */
}

.button:hover {
  background-color: navy; /* Change color on hover */
  color: #fff; /* Change text color on hover */
}
