@import '../../Styles/sass/mixins';
@import '../../Styles/sass/variables';

.ProfileCard {
    @include flex(center, space-between, row);
    border-bottom: 2px solid #DDDDDD;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    width: 35vw;

    &--Img {
        height: 3vh;
    }

    &--Left{
        @include flex(center, space-around, row);
        width: auto;
        min-width: 70%;

        &Div {
            @include flex(start, space-around, column);
            margin-left: 1rem;
            width: 85%;
        }
    }
    
    &--SubTitle {
        color: #9A9A9A;
        font-size: 1.4rem;
        font-weight: 300;
        padding-bottom: 0.7rem;
    }

    &--Title {
        color: #606060;
        font-size: 1.5rem;
        font-weight: 400;
    }

    &--Para {
        font-size: 1.3rem;
        font-weight: 400;
        color: $blue;
        border-bottom: 1px solid $blue;
        cursor: pointer;
    }

    &--Input {
        width: 100%;
        font-family: $main_font;
        color: #606060;
        font-size: 1.5rem;
        font-weight: 400;
        border: none;
        color: $placeholder;
    
        &:focus {
            outline: none;
        }
    }
}

@include media-xl {
    .ProfileCard {
        &--Img {
            height: 2.5vh;
        }
        
        &--SubTitle {
            font-size: 1.3rem;
            padding-bottom: 0.6rem;
        }
    
        &--Title {
            font-size: 1.4rem;
        }
    
        &--Para {
            font-size: 1.2rem;
        }
    
        &--Input {
            font-size: 1.4rem;
        }
    }
}

@include media-l {
    .ProfileCard {
        &--SubTitle {
            font-size: 1.2rem;
        }
    
        &--Title {
            font-size: 1.3rem;
        }
    
        &--Para {
            font-size: 1.15rem;
        }
    
        &--Input {
            font-size: 1.3rem;
        }
    }
}

@include media-ml {
    .ProfileCard {
        &--Title {
            font-size: 1.2rem;
        }
    
        &--Para {
            font-size: 1.1rem;
        }
    
        &--Input {
            font-size: 1.2rem;
        }
    }
}

@include media-sl {
    .ProfileCard {
        width: 100%;
        margin: 1.5rem 0;

        &--Left {
            width: 80%;
            justify-content: start;

            &Div {
                width: 80%;
            }
        }
    }
}